<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace: 데이터베이스 관련 Mapper 인터페이스 경로 설정-->
<mapper namespace="com.smhrd.board.service.BoardMapper">

    <!--글쓰기 쿼리문-->
    <insert id="write" parameterType="com.smhrd.board.dto.Board">
        insert into
        t_board(b_title, b_writer, b_content, b_img)
        values(#{b_title},#{b_writer},#{b_content},#{b_img})
    </insert>

    <!-- 게시글 조회 쿼리문-->
    <select id="list" resultType="com.smhrd.board.dto.Board">
        select * from t_board
    </select>

    <!-- 특정 게시글 조회 쿼리문-->
    <select id="view"
            parameterType="int"
            resultType="com.smhrd.board.dto.Board">
        select * from t_board where uid = #{uid}
    </select>

    <!-- 게시글 수정 쿼리문 -->
    <update id="update" parameterType="com.smhrd.board.dto.Board">
        update t_board
        set
        b_title=#{b_title},
        b_content=#{b_content},
        b_img=#{b_img}
        where uid=#{uid}
    </update>

    <!-- 검색키워드 관련 게시글 조회 쿼리문 -->
    <select id="search"
            parameterType="string"
            resultType="com.smhrd.board.dto.Board">

        select * from t_board where b_title like #{text}
    </select>

    <delete id="delete" parameterType="int">
        DELETE FROM t_board WHERE uid = #{uid}
    </delete>

</mapper>